:root {
  --bg-color: #1e2021;
  --bg-wrapper-color: #2b2d2f;
  --text-color: #ecf0f1;
  --disabled-bg-color: rgba(58, 61, 64, 0.3);
  --disabled-text-color: rgba(236, 240, 241, 0.5);
  --border-color: rgba(255, 255, 255, 0.2);
  --btn-bg-color: rgba(58, 61, 64, 0.5);
  --btn-bg-hover-color: rgba(74, 77, 81, 0.7);
  --btn-border-color: rgba(255, 255, 255, 0.2);
  --btn-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  --btn-disabled-bg-color: rgba(58, 61, 64, 0.3);
  --btn-disabled-text-color: rgba(236, 240, 241, 0.5);
  --btn-hover-bg-color: rgba(74, 77, 81, 0.7);
  --btn-hover-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.2);
  --col-white: white;
  --page-error-bg: black;
  --page-error-border: 2px solid black;
  --license-text-color: rgb(111, 111, 111);
  --license-text-hover-color: white;
  --banner-bg-color: rgba(0, 0, 0, 0.2);
  --banner-filter: blur(1px) brightness(0.5);
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  font-family: 'Montserrat';
}

body p {
  margin: 0;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.page {
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(50px);
}

.hidden {
  display: none !important;
}

.btn, .page-input, #language, #page-size {
  background: var(--btn-bg-color);
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), var(--btn-bg-color));
  color: var(--text-color);
  border: 1px solid var(--btn-border-color);
  border-radius: 15px;
  padding: 10px 20px;
  box-shadow: var(--btn-box-shadow);
  backdrop-filter: blur(5px);
  transition: background 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.75rem;
  font-family: 'Montserrat';
}

.btn:disabled, .page-input:disabled, #language:disabled, #page-size:disabled {
  background: var(--disabled-bg-color);
  color: var(--disabled-text-color);
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: not-allowed;
  box-shadow: none;
}

.btn:hover, .btn:active, .page-input:hover, .page-input:active, #language:hover, #language:active, #page-size:hover, #page-size:active {
  background: var(--btn-hover-bg-color);
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), var(--btn-hover-bg-color));
  box-shadow: var(--btn-hover-box-shadow);
}

p.btn {
  font-size: 0.75rem;
  cursor: default;
}

a.btn {
  font-size: 0.75rem;
}

.fd-r {
  display: flex;
  flex-direction: row;
}

.fd-c {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
  display: flex;
}

.gap-10 {
  display: flex;
  gap: 10px;
}

.gap-5 {
  display: flex;
  gap: 5px;
}

.col-white {
  color: var(--col-white);
}

.blurred-page {
  filter: blur(50px);
  width: 600px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview {
  width: 100px;
}

.preview:hover {
  filter: brightness(50%);
}

.page-input::placeholder {
  opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor: text;
}

input[type=number] {
  appearance: textfield;
  cursor: text;
}

.on-img-nav {
  position: absolute;
  height: 100%;
  width: 100%;
}

.on-img-nav button {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  display: flex;
  opacity: 0;
  cursor: pointer;
  padding: 0;
}

.ta-c {
  text-align: center;
}

/* #tools-container {
  background-color: var(--bg-wrapper-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 10px;
  width: calc(600px - 20px);
  z-index: 1;
} */

#tools-container {
  background-color: var(--bg-wrapper-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 10px;
  width: calc(300px - 20px);
  z-index: 1;
}

.page-container {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: var(--bg-color);
  padding: 10px;
  text-align: center;
  width: 100%;
  align-self: flex-end;
}

.page-space {
  width: 600px;
}

@media only screen and (max-width: 1000px) {
  .page, .blurred-page {
    max-width: 100%;
  }

  .page-space {
    margin: 2rem 2rem 0 2rem;
    width: auto;
  }

  .on-img-nav {
    width: 100%;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .navigation {
    align-self: flex-end;
    width: 100%;
  }

  .btn {
    padding: 0.625rem 1.25rem;
    width: auto;
  }
  
  .page-switchers .btn {
    width: auto;
    padding: 10px 5px;
    text-align: center;
  }

  .sidebar, .sidebar-placeholder {
    display: none !important;
  }

  main {
    margin: auto !important;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    height: auto;
    margin: auto;
  }

  .header-mobile-placeholder {
    height: 70px;
    padding: 10px;
    width: calc(100% - 2rem);
    box-sizing: border-box;
    margin: 1rem;
    display: block !important;
  }

  .btn, .page-input, #language, #page-size, p.btn, a.btn, body {
    font-size: clamp(10px, 2vw, 12px);
  }

  #tools-container {
    background-color: var(--bg-wrapper-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
    width: auto;
    z-index: 1;
    margin: 0 2rem 2rem 2rem;
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
  }

  .on-img-nav {
    display: none;
  }

  .w-600 {
    width: auto !important;
    height: auto !important;
    max-height: 100% !important;
    max-width: 100% !important;
  }

  .mb-2rem {
    margin-bottom: 2rem;
  }

  .mb-0 {
    margin-bottom: 0;
  }

  .margins-disabled {
    margin: 0 !important;
  }

  #disable-swipes, #disable-margins {
    display: inline !important;
  }
}

.zi-1 {
  z-index: 1;
}

.zi-2 {
  z-index: 2;
}

#sketch-ver-button, #speachless-ver-button, #go-to-page-button, #download-button {
  padding: 0.625rem 1.25rem;
  width: auto;
}

.navigation {
  margin-top: 0.625rem;
}

.page-error::before {
  content: "Page is missing";
  color: var(--page-error-bg);
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 10px;
  top: 50%;
  left: 50%;
  border: var(--page-error-border);
  font-size: 1.5em;
  border-radius: 15px;
  z-index: 2;
  text-align: center;
}

.page-options-section .title {
  color: var(--text-color);
  font-weight: 500;
  margin-bottom: 0.625rem;
  display: flex;
  font-size: clamp(12px, 2vw, 16px);
}

.go-to-page-section .title {
  color: var(--text-color);
  margin-top: 0.625rem;
  font-weight: 500;
  display: flex;
  font-size: clamp(12px, 2vw, 16px);
}

.preview {
  width: 100px;
  height: 130px;
}

.preview:hover {
  filter: brightness(50%);
}

#tools-container #sketch-ver-button, #tools-container #speachless-ver-button, #tools-container #go-to-page-button, #tools-container #download-button, #tools-container .btn {
  margin: 3px 0;
}

.w-600 {
  width: 100%;
  max-width: 600px;
  height: calc(100vh - 180px);
  max-height: 100vh;
  object-fit: contain;
  transition: width 0.3s ease, height 0.3s ease;
  background-color: transparent;
}

.orig {
  width: auto;
}

.w-300 {
  width: 300px;
}

#tools-btn {
  width: auto;
}

.page-switchers .btn {
  width: auto;
  padding: 10px 5px;
  text-align: center;
  flex-grow: 1;
  text-align: center;
}

body {
  transition: background-color 0.5s, color 0.5s;
}

.closable {
  opacity: 1;
  overflow: hidden !important;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.closable.invisible {
  opacity: 0;
  height: 0; 
}

main {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  background-color: var(--bg-wrapper-color);
  width: 300px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.logo {
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  max-width: 100px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.9));
}

.sidebar-placeholder {
  width: 300px;
  height: calc(100vh - 40px);
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.banner {
  width: 100%; 
  height: 170px;
  object-fit: cover;
  filter: var(--banner-filter);
}

.sidebar-banner {
  position: relative; 
  width: 100%; 
  min-height: 170px;
  overflow: hidden;
}

.license p {
  color: var(--license-text-color);
  transition: color 0.3s;
}

.license p:hover {
  color: var(--license-text-hover-color);
}

.content-404, .content-404 h1, .content-cs, .content-cs h1 {
  gap: 10px;
  margin: 0;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
  flex-grow: 1;
}

.sidebar-buttons .btn {
  text-align: left;
  width: 100%;
}

.sidebar-content {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.license {
  margin: auto 20px 20px 20px;
  text-align: center;
  font-size: 12px;
}

.sidebar-banner button, .header-mobile button {
  position: absolute;
  z-index: 1000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sidebar.invisible, .sidebar-placeholder.invisible {
  animation: slideLeft 0.5s ease-in-out forwards;
}

.sidebar.visible, .sidebar-placeholder.visible {
  animation: slideRight 0.5s ease-in-out forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-500%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);
  }
}

#show-sidebar {
  width: 20px;
  height: 100%;
  position: absolute;
  z-index: 1001;
}

#sidebar-toggle {
  filter: invert(1) drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  transition: filter 0.3s;
}

#sidebar-toggle:hover {
  filter: invert(0.8) drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.sidebar-banner #sidebar-toggle {
  margin-left: 255px;
}

img {
  user-select: none;
}

.sidebar {
  background-color: var(--bg-wrapper-color);
  width: 300px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  left: 0;
}

main {
  display: flex;
  justify-content: center;
  margin-left: 300px;
  width: calc(100% - 300px);
}

@media only screen and (max-width: 1000px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  main {
    margin-left: 0;
    width: 100%;
  }

  .sidebar-placeholder {
    display: none;
  }
}

.sidebar {
  transition: transform 0.3s ease, display 0.3s ease;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

main {
  transition: margin-left 0.3s ease, width 0.3s ease;
}

@media only screen and (max-width: 1000px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    transform: none;
  }

  .sidebar.hidden {
    display: none;
  }

  main {
    margin-left: 0;
    width: 100%;
  }
}


.sidebar {
  transition: transform 0.3s ease, display 0.3s ease;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

main {
  transition: margin-left 0.3s ease, width 0.3s ease;
}

@media only screen and (max-width: 1000px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    transform: none; 
  }

  .sidebar.hidden {
    display: none;
  }

  main {
    margin-left: 0;
    width: 100%;
  }
}

#show-sidebar {
  width: 20px;
  height: 100%;
  position: absolute;
  z-index: 1001;
  left: 0;
  top: 0;
  cursor: pointer;
}

#tools-container {
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

#tools-container.hidden {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-left: 300px; 
  width: calc(100% - 300px); 
  height: 100vh; 
}

@media only screen and (max-width: 1000px) {
  main {
    margin-left: 0;
    width: 100%;
    height: auto; 
    align-items: flex-start; 
  }
}

.page-switchers, #tools-btn {
  width: 100%;
}

.page-switchers .btn, #tools-btn {
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

#disable-swipes, #disable-margins {
  display: none;
}