html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #1e2021;
  font-family: 'Montserrat';
}

body p {
  margin: 0;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page {
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.hidden {
  display: none !important;
}

.btn, .page-input, #language, #page-size  {
  background: rgba(58, 61, 64, 0.5);
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), rgba(58, 61, 64, 0.5));
  color: #ecf0f1;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  transition: background 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.btn:disabled, .page-input:disabled, #language:disabled, #page-size:disabled {
  background: rgba(58, 61, 64, 0.3);
  color: rgba(236, 240, 241, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: not-allowed;
  box-shadow: none;
}

.btn:hover, .btn:active, .page-input:hover, .page-input:active, #language:hover, #language:active, #page-size:hover, #page-size:active {
  background: rgba(74, 77, 81, 0.7);
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), rgba(74, 77, 81, 0.7));
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.2);
}

.fd-r {
  display: flex;
  flex-direction: row;
}

.fd-c {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
  display: flex;
}

.gap-10 {
  display: flex;
  gap: 10px;
}

.gap-5 {
  display: flex;
  gap: 5px;
}

.col-white {
  color: white;
}

.blurred-page {
  filter: blur(50px);
  width: 600px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview {
  width: 100px;
}

.preview:hover {
  filter: brightness(50%);
}

.page-input::placeholder {
  opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor: text;
}

input[type=number] {
  appearance: textfield;
  cursor: text;
}

.on-img-nav {
  position: absolute;
  height: 100%;
  width: 100%;
}

.on-img-nav button {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  display: flex;
  opacity: 0;
  cursor: pointer;
  padding: 0;
}

.ta-c {
  text-align: center;
}

#tools-container {
  background-color: #2b2d2f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 10px;
}

footer {
  background-color: #1e2021;
  padding: 10px;
  text-align: center;
  width: 100%;
  align-self: flex-end;
}

.page-space {
  margin: 20px;
  width: 600px;
}

@media only screen and (max-width: 700px) {
  .page, .blurred-page {
    max-width: 100%;
  }

  body, .page-space {
    margin: 1rem;
    width: auto;
  }

  .on-img-nav {
    width: 100%;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100% !important;
  }

  .navigation {
    align-self: flex-end;
    width: 100%;
  }

  .btn {
    padding: 0.625rem 1.25rem;
    width: auto;
  }

  .page-switchers .btn {
    width: auto;
    padding: 10px 5px;
    text-align: center;
  }
}

.zi-1 {
  z-index: 1;
}

.zi-2 {
  z-index: 2;
}

p.btn {
  font-size: 14px;
  cursor: default;
}

a.btn {
  font-size: 14px;
}

#sketch-ver-button, #speachless-ver-button, #go-to-page-button, #download-button {
  padding: 0.625rem 1.25rem;
  width: auto;
}

.navigation {
  margin-top: 0.625rem;
}

.page-error::before {
  content: "Page is missing";
  color: black;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 10px;
  top: 50%;
  left: 50%;
  border: 2px solid black; 
  font-size: 1.5em; 
  border-radius: 15px;
  z-index: 2;
  text-align: center;
}

.page-options-section .title {
  color: white;
  font-weight: 500;
  margin-bottom: 0.625rem;
  display: flex;
}

.go-to-page-section .title {
  color: white;
  margin-top: 0.625rem;
  font-weight: 500;
  display: flex;
}

.preview {
  width: 100px;
  height: 130px;
}

.preview:hover {
  filter: brightness(50%);
}

.w-600 {
  width: 600px;
}

.orig {
  width: auto;
}

.w-300 {
  width: 300px;
}

#tools-container .btn {
  margin-top: 5px;
}

.page-switchers .btn {
  width: 100%;
  text-align: center;
}

body {
  transition: background-color 0.5s, color 0.5s;
}

.closable {
  opacity: 1;
  overflow: hidden !important;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.closable.invisible {
  opacity: 0;
  height: 0; 
}

main {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.side-bar {
  background-color: #2b2d2e;
  width: 300px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: calc(100vh - 40px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-sizing: border-box;
}

.logo {
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  max-width: 100px; 
}

.side-bar-placeholder {
  width: 300px;
  height: calc(100vh - 40px);
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.banner {
  border-radius: 15px;
  width: 100%; 
  height: auto;
}

.side-bar-banner {
  position: relative; 
  width: 100%; 
  height: auto; 
  text-align: center; 
}

.license p {
  color: rgb(111, 111, 111);
  transition: color 0.3s;
}
.license p:hover {
  color: white;
}

.content-404, .content-404 h1, .content-cs, .content-cs h1 {
  gap: 10px;
  margin: 0;
}

.side-bar-buttons {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
  flex-grow: 1;
}

.side-bar-buttons .btn {
  text-align: left;
  width: 100%;
}

.side-bar-content {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.license {
  margin: auto 20px 20px 20px;
  text-align: center;
  font-size: 12px;
}